/*Index page*/
body {
  background-color: #b9121b;
  min-height: 100%;
}
h1 {
  cursor: pointer;
  color: #4c1b1b;
  background-color: #f6e497;
  border-radius: 8em;
  text-align: center;
  border-color: #4c1b1b;
  -moz-box-shadow: 6px 6px 10px 1px #422e13;
  -webkit-box-shadow: 6px 6px 10px 1px #422e13;
  box-shadow: 6px 6px 10px 1px #422e13;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6e497), color-stop(1, #8a642f));
  background:-moz-linear-gradient(top, #f6e497 5%, #8a642f 120%);
  background:-webkit-linear-gradient(top, #f6e497 5%, #8a642f 120%);
  background:-o-linear-gradient(top, #f6e497 5%, #8a642f 120%);
  background:-ms-linear-gradient(top, #f6e497 5%, #8a642f 120%);
  background:linear-gradient(to bottom, #f6e497 5%, #8a642f 120%);
}
h5 {
  color: #fcfae1;
  text-align: center;
}
#sad {
  margin-left: 3.7em;
}
article p {
  font-style: italic;
}
#nameform{
  color: #f6e497;
  font-style: italic;
}
#namebutton {
  margin-left: 1.5em;
}
input {
  color: #4c1b1b;
  background-color: #fcfae1;
}

.getstarted {
  -moz-box-shadow: 8px 8px 12px 1px #422e13;
  -webkit-box-shadow: 8px 8px 12px 1px #422e13;
  box-shadow: 8px 8px 12px 1px #422e13;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bd8d46), color-stop(1, #8a642f));
  background:-moz-linear-gradient(top, #bd8d46 5%, #8a642f 100%);
  background:-webkit-linear-gradient(top, #bd8d46 5%, #8a642f 100%);
  background:-o-linear-gradient(top, #bd8d46 5%, #8a642f 100%);
  background:-ms-linear-gradient(top, #bd8d46 5%, #8a642f 100%);
  background:linear-gradient(to bottom, #bd8d46 5%, #8a642f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd8d46', endColor line-height: 5px;str='#8a642f',GradientType=0);
  background-color:#bd8d46;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  display:inline-block;
  cursor:pointer;
  color:#f6e597;
  font-size:18px;
  font-weight:bold;
  font-style:italic;
  text-decoration:none;
  text-shadow:2px 3px 2px #1c1204;
  padding: 16px 32px;
  line-height: 5px;
  margin-bottom: 1.5em;
}
.getstarted:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8a642f), color-stop(1, #bd8d46));
  background:-moz-linear-gradient(top, #8a642f 5%, #bd8d46 100%);
  background:-webkit-linear-gradient(top, #8a642f 5%, #bd8d46 100%);
  background:-o-linear-gradient(top, #8a642f 5%, #bd8d46 100%);
  background:-ms-linear-gradient(top, #8a642f 5%, #bd8d46 100%);
  background:linear-gradient(to bottom, #8a642f 5%, #bd8d46 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a642f', endColorstr='#bd8d46',GradientType=0);
  background-color:#8a642f;
}
.getstarted:active {
  position:relative;
  top:1px;
}

#leftsection {
  font-color: #4c1b1b;
  height: 19em;
  background-color: #bd8d46;
  border-radius: 2em;
  border: .1em solid;
  border-color: #4c1b1b;
  -moz-box-shadow: 6px 6px 10px 1px #422e13;
  -webkit-box-shadow: 6px 6px 10px 1px #422e13;
  box-shadow: 6px 6px 10px 1px #422e13;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6e497), color-stop(1, #8a642f));
  background:-moz-linear-gradient(top, #f6e497 5%, #8a642f 120%);
  background:-webkit-linear-gradient(top, #f6e497 5%, #8a642f 120%);
  background:-o-linear-gradient(top, #f6e497 5%, #8a642f 120%);
  background:-ms-linear-gradient(top, #f6e497 5%, #8a642f 120%);
  background:linear-gradient(to bottom, #f6e497 5%, #8a642f 120%);
}
ol {
  padding-left: 1.75em;
  color: #4c1b1b;
  margin-top: 2em;
  margin left: 2em;
}
li {
  margin-left: -4.5em;
}
p {
  color: #f6e497;
}
.emotions {
  margin: 3em 10em -1.5em 5em;
  margin-left: 5em;
  margin-right: 10em;
  margin-bottom: -1.5em;
  margin-top: 3em;
}
.ingredient {
  margin: 3em 10em -1.5em 5em;
  margin-left: 5em;
  margin-right: 10em;
  margin-bottom: -1.5em;
  margin-top: 3em;
}
#rightsection {
  margin-top: 2.5em;
}
.feelings {
  height: 525px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f6e497;
  text-align: center;
  height: 42px;
}
#footer {
  border-radius: 8em;
  color: #4c1b1b;
  border-color: #4c1b1b;
  -moz-box-shadow: 6px 6px 10px 1px #422e13;
  -webkit-box-shadow: 6px 6px 10px 1px #422e13;
  box-shadow: 6px 6px 10px 1px #422e13;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6e497), color-stop(1, #8a642f));
  background:-moz-linear-gradient(top, #f6e497 5%, #8a642f 120%);
  background:-webkit-linear-gradient(top, #f6e497 5%, #8a642f 120%);
  background:-o-linear-gradient(top, #f6e497 5%, #8a642f 120%);
  background:-ms-linear-gradient(top, #f6e497 5%, #8a642f 120%);
  background:linear-gradient(to bottom, #f6e497 5%, #8a642f 120%);
}
#footer p {
  color: #4c1b1b;
  font-size: 2.5rem;
}


#captions {
  margin-left: .5em;
  margin-right: .5em;
}

#outputs {
  height: 20em;
  width: 20em;
  box-shadow: .2em .2em .2em #ff0000;
   margin: 3em 10em -1.5em 5em;
  margin-left: 5em;
  margin-right: 10em;
  margin-bottom: -1.5em;
  margin-top: 3em;
}
figcaption {
  text-align: center;
}


/*end recipe location page*/

/*feelings page*/

article {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}

section {
}
#midsection {
  content: ;
}

p {
  color: #f6e497;
}

button {
  text-align: center;
  padding:2px 4px 2px 4px;
  background-color: #f6e497;
  border: 1px solid #4c1b1b;
  color:#000;
  text-decoration:none;
  border-radius: 10em;
}
/*end feelings page*/
.recipes {
  margin-top:-3em;
}
#nutpic2 {
  padding-left: 32.5px;
}
#bourbon {
  margin-left: -47px;
}
#nutpic {
  padding-left: 30px;
}
#blueberries {
  margin-left: -40px;
}
#pizzapic {
  padding-left: 62px;
}
#cheese {
  margin-left: -23px;
}
#bourbon {
  margin-left: 1px;
}
#beef {
  margin-left: 50px;
}
/*PACMAN IS BELOW HERE*?
/*credit to http://veli.ee/lab/csspacman/ for the pacman animation framework*/
     .wrapper{
          max-width:800px;
          padding:0 10px;
          margin:0 auto;
     }
     .pacman-holder{
          position:relative;
          width:800px;
          margin:50px auto;
     }
     .pacman-container {
          display:block;
          width:100px;
          height: 100px;
          transform:rotate(45deg);
          -moz-animation: bite 0.5s linear infinite;
          -webkit-animation: bite 0.5s linear infinite;
          animation: bite 0.5s linear infinite;
     }
     .pacman-body {
          background-color: #f6e497;
          position: absolute;
          width: 100px;
          height: 100px;
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
          -o-border-radius: 50px;
          border-radius: 50px;
     }
     .dot {
          color: #f6e497;
          position: absolute;
          z-index:-1;
          top:40px;
          left:200px;
          width: 20px;
          height: 20px;
          -moz-border-radius: 1px;
          -webkit-border-radius: 1px;
          -o-border-radius: 1px;
          border-radius: 1px;
          -moz-animation: movedot 0.5s linear infinite;
          -webkit-animation: movedot 0.5s linear infinite;
          animation: movedot 0.5s linear infinite;
          -moz-animation-delay:0.2s;
          -webkit-animation-delay:0.2s;
          animation-delay:0.2s;
     }
     .pacman {
          position: absolute;
          width: 100px;
          height: 100px;
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
          -o-border-radius: 50px;
          border-radius: 50px;
          clip: rect(0px, 50px, 100px, 0px);
          z-index:2;


     }
     .pacman-mouth {
          position: absolute;
          left:2px;
          width: 102px;
          height: 102px;
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
          -o-border-radius: 50px;
          border-radius: 50px;
          clip: rect(0px, 100px, 100px, 52px);
     }

     .pacman-mouth .pacman {
          background-color: #b9121b;
          -webkit-transform:rotate(90deg);
          -moz-transform:rotate(90deg);
          -o-transform:rotate(90deg);
          transform:rotate(90deg);
          -moz-animation: munch 0.5s linear infinite;
          -webkit-animation: munch 0.5s linear infinite;
          animation: munch 0.5s linear infinite;

      /* To fix a yellow border on pacman's mouth */
      border: 1px solid #b9121b;
     }

     .pacman-holder.moving{
          width:100px;
          -moz-animation: move 5.7s linear infinite;
          -webkit-animation: move 5.7s linear infinite;
          animation: move 5.7s linear infinite;
     }

     .pacman-holder.moving .dot{
          -moz-animation: movedot 1s linear infinite;
          -webkit-animation: movedot 1s linear infinite;
          animation: movedot 1s linear infinite;
          -moz-animation-delay:0.2s;
          -webkit-animation-delay:0.2s;
          animation-delay:0.2s;

     }

     @-moz-keyframes munch
     {
          0% {
               -moz-transform:rotate(90deg);
          }
          50% {
               -moz-transform:rotate(0deg);
          }
          100% {
               -moz-transform:rotate(90deg);
          }
     }
     @-webkit-keyframes munch
     {
          0% {
               -webkit-transform:rotate(90deg);
          }
          50% {
               -webkit-transform:rotate(0deg);
          }
          100% {
               -webkit-transform:rotate(90deg);
          }
     }
     @keyframes munch
     {
          0% {
               transform:rotate(90deg);
          }
          50% {
               transform:rotate(0deg);
          }
          100% {
               transform:rotate(90deg);
          }
     }

     @-moz-keyframes bite
     {
          0% {
               -moz-transform:rotate(45deg);
          }
          50% {
               -moz-transform:rotate(90deg);
          }
          100% {
               -moz-transform:rotate(45deg);
          }
     }
     @-webkit-keyframes bite
     {
          0% {
               -webkit-transform:rotate(45deg);
          }
          50% {
               -webkit-transform:rotate(90deg);
          }
          100% {
               -webkit-transform:rotate(45deg);
          }
     }
     @keyframes bite
     {
          0% {
               transform:rotate(45deg);
          }
          50% {
               transform:rotate(90deg);
          }
          100% {
               transform:rotate(45deg);
          }
     }

     @-webkit-keyframes movedot
     {
          0% {
               left:300px;
          }
          100% {
               left:50px;
          }
     }
     @-moz-keyframes movedot
     {
          0% {
               left:200px;
          }
          100% {
               left:50px;
          }
     }
     @keyframes movedot
     {
          0% {
               left:200px;
          }
          100% {
               left:50px;
          }
     }

  @-webkit-keyframes move
  {
     0% {
        -webkit-transform: scaleX(1);
        left:0px;
     }

     49.999% {
        left:450px;
        -webkit-transform: scaleX(1);
     }
     50%{
      -webkit-transform: scaleX(-1);
     }

     100% {
     left:0px;
     -webkit-transform: scaleX(-1);
    }
  }
  @-moz-keyframes move
  {
     0% {
        -moz-transform: scaleX(1);
        left:0px;
     }

     49.999% {
        left:450px;
        -moz-transform: scaleX(1);
     }
     50%{
      -moz-transform: scaleX(-1);
     }

     100% {
     left:0px;
     -moz-transform: scaleX(-1);
    }
  }
  @keyframes move
     {
        0% {
           transform: scaleX(1);
           left:0px;
        }

        49.999% {
           left:450px;
           transform: scaleX(1);
        }
        50%{
        transform: scaleX(-1);
       }

       100% {
        left:0px;
        transform: scaleX(-1);
     }
  }
