#header {
  background-color: #ff0000;
}

#color {
  background-color: #fff000;
}

#recipe {
  margin: 1em 0em 1em 0em;
}

#image {
  height: 10em;
  width: 12em;
  box-shadow: .2em .2em .2em #ff0000;
}

#location {
  position: relative;
}

#captions {
  margin-left: .5em;
  margin-right: .5em;
}

#map {
  height: 15em;
  width: 35em;
  box-shadow: .2em .2em .2em #ff0000;
}
